body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main container for the gallery */
.container {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    background-color: black; 
    min-height: 100vh; 
    align-items: center; 
    flex-wrap: wrap;
    padding: 0; 
}

/* Wrapper for each image and its overlay */  
.image-wrapper {
    position: relative;
    width: 100%;
    max-width: 300px;
    flex-shrink: 0; 
    margin: 0; 
    display: flex;
    overflow: hidden;
    border: 1px solid black;
}

/* Styles for the main photo and overlay images */
.photo, .overlay-photo{
    display: block; 
    width: 100%; 
    height: auto; 
    object-fit: cover; 
    margin: 0; 
    padding: 0; 
    object-position: center;
}

/* Styles for the overlay photo */
.overlay-photo {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 1; 
    transition: opacity 0.5s ease;
}

/* Hover effect for the main photo */
.image-wrapper:hover .photo {
    filter: grayscale(200%);
    opacity: 1;
}

.image-wrapper:hover .overlay-photo {
    opacity: 1; 
}

/* Styles for the overlay text */
.overlay-text {
    position: absolute;
    bottom: 20px; 
    left: 20px; 
    color: white; 
    padding: 10px 20px; 
    border-radius: 5px; 
    font-size: 18px; 
    display: block;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    font-family: "DIN", sans-serif;
    position: relative; 
     
    margin-bottom: 10px;
}

.title span{
    display: block;    
}

.subtitle {
    font-size: 14px;
    margin: 5px 0;
    font-family: "Poppins", sans-serif;
    color: rgb(171, 162, 162);
    position: relative; 
     
}

.image-wrapper:hover .title,
.image-wrapper:hover .subtitle {
    bottom: 40px;
    transition: top 0.3s ease;
}

.info {
    font-size: 14px;
    color: aqua;
    margin: 0;
    bottom: 20px;
    left: 20px;
    font-family: "Poppins", sans-serif;
    position: absolute;
    opacity: 0;
}

a{
    text-decoration: none;
}

.image-wrapper:hover .info {
    opacity: 1; 
}

.arrow {
    margin-left: 5px; 
    font-size: 14px; 
    color: aqua;
}


/* Responsive styles for small screens */
@media screen and (max-width: 600px) {
    .image-wrapper {
        width: 25%; 
        max-width: none; 
        height: 100vh;
        border: none;
    }

    .photo, .overlay-photo {
        width: 100%; 
        max-width: 100%; 
    }

    .overlay-text {
        display: none;
    }
}


